
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 600px; 
    border: 1px solid black;
    background-color: rgb(235, 233, 233);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.summary {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    margin-top: 20px; 
}

.numero-tareas {
    flex: 1; 
}

table {
    width: 60%; 
    border-collapse: collapse; 
}

.task-input {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

.delete-btn {
    background-color: transparent; 
    color: black; 
    border: none;
    cursor: pointer;
}



th, td {
    border: none;
    text-align: left;
    padding: 5px;
}

.completed {
       color: gray; 
}


